.home {
    padding: 20px 20%;
}

.add_pet {
    font-size: 16px;
    margin-right: 100px;
}
.add_span {
    position: absolute;
}

.home_buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home_buttons button {
    width: 200px;
}
