.wizard {
    padding: 10px;
}

.wizardStage {
    padding-top: 40px;
    font-size: 24px;
}

.wizardStageInput {
    display: flex;
}

.wizardContent {
    background-color: #e1b77e;
    min-height: 500px;
}

.wizardHeader {
    font-size: 20px;
}
